{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
    "ignorePatterns": ["src/__test__/**"],
    "rules": {
        "@typescript-eslint/no-namespace": [2, {"allowDeclarations": true}]
    }
}